.App {
  text-align: center;
  background-color: #ffffcc;
  min-height: 100vh;
}

.App-header {
  background-color: #a3c2c2;
  
  align-items: center;
  justify-content: center;
  height: 90px; /* Adjust the height according to your design */
}

.content {
  display: flex;
  flex-direction: column; /* Stack the input and other elements */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px); /* Adjust the height to fit the remaining space */
  font-size: calc(10px + 2vmin);
}




